<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>

	<link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
	{{#if kidspage}}
    <link rel="stylesheet" href="/stylesheets/kids.css" media="screen" title="no title" charset="utf-8">
    {{/if}}
		{{#if index}}
	    <link rel="stylesheet" href="/stylesheets/main.css" media="screen" title="no title" charset="utf-8">
	    {{/if}}
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
	<script type="text/javascript" src="/javascripts/vue-social-sharing.js">

	</script>
</head>
<body>

	<main>
		{{{ body }}}
	</main>

{{#if mainpage}}
	<footer class="footer">
		<ul>
			<li class="roku-foot"> Roku</li>

			<li>
				<i class="fab fa-facebook"></i>
			</li>
			<li>
				<i class="fab fa-twitter-square"></i>
			</li>
			<li>
				<i class="fab fa-google-plus-square"></i>
			</li>
			<li>
				<i class="fab fa-instagram"></i>
			</li>
		</ul>
	</footer>
{{/if}}

  <script >
    var appData ={
      movies : {{{data}}}
    }
  </script>

{{#if mainpage}}
	<script src="/javascripts/main.js"></script>
{{/if}}

{{#if videopage}}
	<script src="/javascripts/videopage.js"></script>
{{/if}}

{{#if kidspage}}
	<script src="/javascripts/kids.js"></script>
{{/if}}

{{#if kidsplayer}}
	<script src="/javascripts/kids-vidpage.js"></script>
{{/if}}
<script>
	      Vue.use(SocialSharing);
	      new Vue({
	        el: '#socialMedia',
	        data: {
	          overriddenNetworks: {
	            "test": {
	              "sharer": "https://google.com",
	              "type": "popup"
	            },
	          }
	        }
	      });
	    </script>
</body>
</html>
