<div>

    <ul class="links back-button">
      <li>
        <a  class="comment-message" href="#comments" >Comment</i></a>
      </li>
      <li>
        <a href="/"><i class="far fa-arrow-alt-circle-left"></i></a>
      </li>

    </ul>
</div>


<section id="movie">

  <video controls class="player" autoplay >
    <source src="/kids-movies/{{trailer}}" type="video/mp4" >
  </video>

  <!-- add the reviews  -->
  <section class="popup" id="comments">
  <li class="x"><i class="far fa-times-circle"></i></li>


  <article class="comments" v-if="reviews.length >0">
    <div class="sent" v-for="(review, index) in reviews">
      <!-- will show stars here with custome components -->
      <i class="post-date"> ${review.comments_date} </i>
      <p>
        ${ review.comments_copy}
      </p>
    </div>
  </article>

  <aside class="add-comment">
    <div class="add">

    <h4>Add a review</h4>
    <span class="hidden movId">{{movie}}</span>
    <input class="range" type="range" name="myRange" min="0" max="5" step="1" v-model="numStars">
    <label for="myRange"> ${numStars}-Star review </label><br><br>

    </div>

    <textarea class="text" name="myReview" placeholder="What did you think?" v-model="review"></textarea><br><br>
    <input class="submit" type="submit" value="Submit your review" v-on:click="addReview">
  </aside>


</section>
</section>
