
<div class="nav">

    <h1 class="roku">Roku</h1>
    <ul class="links">
      <li>
        <a href="/kidsMovies">Kids</a>
      </li>

			<li>
        <a href="/"><i class="fas fa-user-circle"></i></a>
      </li>

    </ul>
</div>


<section id="app" class="movie-genres">
  <div class="movie-wrapper">

    <h1>{{title}}</h1>
    <p class="desc">{{desc}}</p>

  </div>

  <section class="genre-lists" v-for="genre in genres">
    <div  v-if="genre.movies.length > 0">
      <div class="genre-item">
        <h6 class="genre-name">${genre.name}</h6>
        <div class="movie-list" v-for="movie in genre.movies">
          <a :href="'kidsMovies/kids-movies/' + movie.kids_id + '/' + movie.kids_video">
          <img class="movie-thumb" :src="'../images/'+ movie.kids_thumb" :alt="movie.kids_title" />
          </a>
        </div>
      </div>
    </div>
  </section>
</section>
