
* { border: 0; padding: 0; margin: 0; }

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
}
.hidden{
  visibility: hidden;
}
a {
	color: #00B7FF;
	text-decoration: none;
}

.roku {
padding: 20px 0 20px 50px;
color: white;
}

.nav{
  width: 2000px;
}

ul{
    margin-top: -50px;
    margin-left: 60%;
}

li {
  list-style: none;
  float: left;
  padding-right: 50px;

}

div ul li a:link{
  text-decoration: none;
  font-size: 1.5em;
  color: white;
}


video { width: 100%; }


.desc{
  width: 450px;
  margin-top: 15px;
  line-height: 2em;
  text-align: justify;
  font-size: 1.3em;
}

.getButtonHead {
  background-color: transparent;
  border: none;
  width: 50px;
  margin-left: 150px;
}
.links{
  color: white;

}
.movie-wrapper aside {
	position: absolute;
	left: 1em;
	top: 51px;
	padding: 2em;
	background-color: rgba(0, 0, 0, 0.8);
}

.movie-title { font-size: 1.7em; }
.movie-year { font-size: 1.5em; }
.movie-time { font-size: 1.5em; }

.movie-genre {
	font-size: 1.25em;
	font-weight: bolder;
	display: block;
	text-transform: uppercase;
	margin-top: 8px;
}

.genre-name { font-size: 2em; padding: 1em 0 0.35em; }

.movie-thumb { width: 300px; margin-right: 30px;}

.genre-list {
  padding: 0 14px;
  list-style-type: none;
}

.genre-lists { padding: 0 14px; overflow: scroll; }

.genre-lists > div {
	position: relative;
	transition: all .5s;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

.genre-item { display: inline-block; }

.movie-list { display: inline-block; margin-right: 1.25em; }

nav ul {
	position: absolute;
	right: 3em;
	top: 1.2em;
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	font-size: 1.25em;
	padding: 0 0.2em;
	cursor: pointer;
}

.roku-foot{
  padding-left: 30px;
  margin-right: 7em;
}

footer {
	padding: 2em 2em 2em 2em;
margin-top: 3em;

}

footer ul { list-style-type: none;
float: left; margin-left: -10px;}
footer li {
	font-size: 2.5em;
	display: inline-block;
	color: rgba(255, 255, 255, 0.3);
	margin-top: 1em;
}
 /* #movie{
   background-color: black;
   height: 100vh;

 } */
.back-button{
position: absolute;
top: 70px;
right: 40px;
z-index: 3;
}

.back-button li a{
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.6);
}

.player {
position: absolute;
top: 0;
left: 0;
z-index: -1;
}

.popup{
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  overflow-y: hidden;
}
.add{
  position: absolute;
  bottom: 220px;
  left: 37%;
  padding: 10px;
  text-align: center;
}

.range{
  margin: 20px;
}

.text{
  font-size: 1em;
  width: 800px;
  height: 130px;
  border-radius: 2px;
  background-color: lightgrey;
  border: solid 2px lightgrey;
  position: absolute;
  bottom: 80px;
  left: 23%;
  padding: 10px;
}

.submit{
  padding: 10px;
  background-color: grey;
  border: solid 2px lightgrey;
  border-radius: 3px;
  color: white;
  position: absolute;
  bottom: 20px;
  left: 45%;

}

.submit:hover{
  cursor: pointer;
}

.comments{
  color: white;
  position: absolute;
  top: 40px;
  left: 23%;
  width: 800px;
  height: 300px;
  border: solid 2px rgba(255, 255, 255, 0.3);
  overflow-y: scroll;
}


.sent{
  margin-bottom: 20px;
}

.x{
  position: absolute;
  left: 30px;
  top:30px;
  font-size: 2.5em;
}
.x:hover{
  cursor: pointer;
  transform: scale(1.1);
}
#socialMedia{
	margin-top: 10vh;
	margin-right: 30px;
}

.social-icon{
	z-index: 6;


}
.social-icon ul li{
	font-size: 2em;
	color: rgba(255, 255, 255, 0.3);
}
